@model BeeMatchingAPP.Models.CongViec

@{
    ViewBag.Title = "BeeMatching - Chi Tiết Công Việc";
    CongViec congViec = ViewData["reservation"] as CongViec;
    List<KyNangCongViec> kyNang = ViewData["kynang"] as List<KyNangCongViec>;
    DoanhNghiep doanhNghiep = ViewData["doanhnghiep"] as DoanhNghiep;
    List<KinhNghiemCongViec> kinhNghiem = ViewData["kinhnghiem"] as List<KinhNghiemCongViec>;
    Layout = "/Views/Shared/_Layout.cshtml";

}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>UI/UX Designer</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- job post company Start -->


<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>@congViec.TieuDe</h4>
                            </a>
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>@congViec.DistrictName, @congViec.WardName, @congViec.ProvinceName</li>
                                <li>@congViec.LuongHangThang.ToString("C0") </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            @foreach (var item in kyNang)
                            {
                                <h4>@item.TenKyNang</h4>
                                <p>@item.MoTa</p>
                            }


                        </div>

                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Required Knowledge, Skills, and Abilities</h4>
                        </div>
                        <ul>
                            <li>System Software Development</li>
                            <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                            <li>Research and code , libraries, APIs and frameworks</li>
                            <li>Strong knowledge on software development life cycle</li>
                            <li>Strong problem solving and debugging skills</li>
                        </ul>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            @foreach (var item in kinhNghiem)
                            {
                                <h4>@item.MoTa</h4>
                                <p>@item.TenKinhNghiem</p>
                                <p>@item.SoNamKinhNghiem</p>
                            }

                        </div>


                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>@congViec.NgayDang.ToString("dd/MM/yyyy")</span></li>
                        <li>Location : <span>@congViec.ProvinceName</span></li>
                        <li>Vacancy : <span>@congViec.SoLuong</span></li>
                        <li>Job nature : <span>@congViec.DangCongViec</span></li>
                        <li>Salary :  <span> @congViec.LuongHangThang.ToString("C0") </span></li>
                        <li>Application date : <span>@congViec.HanNopHoSo.ToString("dd/MM/yyyy")</span></li>
                    </ul>
                    <div class="apply-btn2">
                        <button>
                            <a asp-controller="Home" asp-route-id="@congViec.CongViecId" asp-action="TrangThongTinUngTuyen">Ứng Tuyển </a>
                        </button>

                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>@doanhNghiep.TenCongTy</h4>
                    </div>
                    <img style="width:200px;height:180px" src="~/Images/minh.jpg.png" alt="@doanhNghiep.DoanhNghiepId" class="img-fluid rounded-4" />
                    <span>Colorlib</span>
                    <p>@doanhNghiep.MoTa</p>
                    <ul>
                        <li>Name: <span>@doanhNghiep.TenCongTy </span></li>
                        <li>Location: <span>@doanhNghiep.DiaChi </span></li>
                        <li>Web : <span> colorlib.com</span></li>
                        <li>Email: <span>@doanhNghiep.HinhAnh</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post company End -->
