@model IEnumerable<BeeMatchingAPP.Models.CongViec>

@{
    ViewData["Title"] = "CongViec";
}

<h1>CongViec</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CongViecId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanhNghiepId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongHangThang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HanNopHoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CongViecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanhNghiepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongHangThang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanNopHoSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CongViecId  }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CongViecId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CongViecId })
            </td>
        </tr>
}
    </tbody>
</table>
