@model BeeMatchingAPP.Models.NguoiTimViec

@{
    ViewData["Title"] = "TrangThongTinNguoiTimViec";
    NguoiTimViec ntv = ViewData["HoSo"] as NguoiTimViec;
}





<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <!-- CSS here -->

    <link rel="stylesheet" href="~/assets/css/hoso.css">
    <style>
        .field-disabled {
            background-color: #f0f0f0; /* Màu nền cho trường disabled */
            color: #666; /* Màu chữ cho trường disabled */
        }

        .field-edit {
            background-color: #fff7e6; /* Màu nền cho trường đang chỉnh sửa */
            color: #000; /* Màu chữ cho trường đang chỉnh sửa */
        }
    </style>
</head>

<body>

    <main>

        <div class="wrapper">
            <div class="profile">
                <div class="content">
                    <h1>Thông tin cá nhân</h1>
                    <form asp-action="CapNhatThongTin" method="post">
                        <!-- Photo -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="avatar">Ảnh hồ sơ</label>
                            </div>
                            <div class="grid-65">
                                <span class="photo" title="Upload your Avatar!"></span>
                                <input type="file" class="btn" />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="grid-35">
                                <label for="fname">Họ và tên</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv.ho_ten" id="fname" tabindex="1" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="grid-35">
                                <label for="email">Số điện thoại</label>
                            </div>
                            <div class="grid-65">
                                <input type="phonenumber" value="@ntv.so_dien_thoai" id="phonenumber" tabindex="6" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <!-- Email -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="email">Email</label>
                            </div>
                            <div class="grid-65">
                                <input type="email" value="@ntv.email" id="email" tabindex="6" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="grid-35">
                                <label for="lname">Ngày tạo</label>
                            </div>
                            <div class="grid-65">
                                <input disabled value="@ntv.ngay_tao" id="lname" tabindex="2" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="grid-35">
                                <label for="lname">Ngày sinh</label>
                            </div>
                            <div class="grid-65">
                                <input value="@ntv.ngay_sinh" id="lname" type="date" tabindex="2" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <!-- Description about User -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="description">Mô tả</label>
                            </div>
                            <div class="grid-65">
                                <textarea name="" cols="30" rows="auto" tabindex="3" class="field-disabled" disabled>@ntv.MoTa</textarea>
                            </div>
                        </fieldset>
                        <!-- Location -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="location">Nơi ở / Xã</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv.WardId" id="location" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="grid-35">
                                <label for="location">Nơi ở / Huyện</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv.DistrictId" id="location" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset><fieldset>
                            <div class="grid-35">
                                <label for="location">Nơi ở / Tỉnh</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv.ProvinceId" id="location" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset>
                        <!-- Country -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="activities">Hoạt động ngoại khóa</label>
                            </div>
                            <div class="grid-65">
                                <textarea id="activities" tabindex="3" class="field-disabled" disabled rows="auto" cols="30">@ntv.HoatDongNgoaiKhoa</textarea>
                            </div>
                        </fieldset>


                        <!-- Looking for Work -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="qualification">Năm kinh nghiệm</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv.KinhNghiem" id="location" tabindex="4" class="field-disabled" disabled />
                            </div>
                            @*  <div class="grid-65">
                            <select name="qualification" id="qualification" tabindex="8">
                            <option selected="selected" value="--------------" disabled>--------------</option>
                            <option value="primary_school">1</option>
                            <option value="primary_school">2</option>
                            <option value="primary_school">3</option>
                            <option value="primary_school">4</option>
                            <option value="primary_school">5</option>
                            <option value="primary_school">trên năm 5</option>

                            </select>
                            </div> *@
                        </fieldset>
                        <!-- Highest Qualification -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="qualification">Ngôn ngữ</label>
                            </div>
                            <div class="grid-65">
                                @* <select name="qualification" id="qualification" tabindex="8">
                                <option selected="selected" value="--------------" disabled>--------------</option>
                                <option value="primary_school">Tiếng Việt - Tiếng Anh</option>
                                <option value="high_school">Tiếng việt - Tiếng Trung</option>
                                <option value="high_school">Tiếng việt - Tiếng Hàn</option>
                                <option value="high_school">Tiếng việt - Tiếng Nhật</option>
                                </select> *@
                                <input type="text" value="@ntv.NgonNgu" id="location" tabindex="4" class="field-disabled" disabled />

                            </div>
                        </fieldset>
                        <!-- School -->
                        <fieldset>
                            <input type="" class="Btn edit" value="Sửa" onclick="editProfile()"/>
                            <input type="submit" class="Btn" value="Lưu" />
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>


        <script>
            function editProfile() {
                // Lấy tất cả các trường input trong form
                const inputs = document.querySelectorAll('input[type="text"],input[type="phonenumber"],input[type="date"], input[type="email"], textarea');
                inputs.forEach(input => {
                    input.disabled = false; // Bỏ disable cho tất cả các trường
                    input.classList.remove('field-disabled'); // Xóa lớp disabled
                    input.classList.add('field-edit'); // Thêm lớp edit
                });
            }
        </script>

    </main>


    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>